/*! normalize.scss v0.1.0 | MIT License | based on git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit; /* 1 */
  font: inherit; /* 2 */
  margin: 0; /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type=checkbox],
input[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type=search] {
  -webkit-appearance: textfield; /* 1 */ /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

@font-face {
  src: local("Phonk Contrast"), local("Phonk Contrast DEMO"), url("fonts/Phonk Contrast.woff2"), url("fonts/Phonk Contrast.woff");
  font-family: "Phonk Contrast";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
html {
  scroll-behavior: smooth;
  min-width: 320px;
}

.visually-hidden, .visually-hidden * {
  position: absolute !important;
  clip: rect(0 0 0 0) !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  padding: 0 !important;
  top: 0;
  left: 0;
  font-size: 0 !important;
  line-height: 0 !important;
}

.hidden {
  display: none !important;
}

.scrollLocked {
  overflow-y: hidden;
}

.red {
  color: #E3000B;
}

.lato {
  font-family: "Lato", "Arial", sans-serif;
}

img {
  max-width: 100%;
}

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-family: sans-serif;
}

body {
  margin: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

audio, canvas, progress, video {
  vertical-align: baseline;
  display: inline-block;
}

audio:not([controls]) {
  height: 0;
  display: none;
}

[hidden], template {
  display: none;
}

a {
  background-color: rgba(0, 0, 0, 0);
}
a:active, a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  margin: 0.67em 0;
  font-size: 2em;
}

mark {
  color: #000;
  background: #ff0;
}

small {
  font-size: 80%;
}

sub {
  vertical-align: baseline;
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sup {
  vertical-align: baseline;
  font-size: 75%;
  line-height: 0;
  position: relative;
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

hr {
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code, kbd, pre, samp {
  font-family: monospace;
  font-size: 1em;
}

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
  text-transform: none;
}

select {
  text-transform: none;
}

button, html input[type=button], input[type=reset] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  height: auto;
}
input[type=search] {
  -webkit-appearance: none;
}
input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

.body {
  position: relative;
  font-family: "Lato", "Arial", sans-serif;
  color: #000000;
  background-color: #FFFFFF;
  min-width: 1440px;
  width: auto !important;
  width: 1440px;
}

.header {
  min-width: 1440px;
  overflow-x: hidden;
}
.header__top {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F8C504;
  padding: 35px 0;
  background-image: url("img/pattern-001.png");
}
.header__top-inner {
  max-width: 1270px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__socials {
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 50px;
}
.header__socials-link {
  width: 100%;
  width: 52px;
  height: 52px;
  background-repeat: no-repeat;
  display: block;
  background-color: #000000;
  transition: all 0.3s ease;
}
@media (hover: hover) and (pointer: fine) {
  .header__socials-link:hover {
    background-color: #E3000B;
  }
}
.header__socials-link:active {
  background-color: #E3000B;
}
.header__socials-link--x {
  background-image: url("img/icon-socials--x.svg");
}
.header__socials-link--telegram {
  background-image: url("img/icon-socials--telegram.svg");
}
.header__socials-link--coinmarketcap {
  background-image: url("img/icon-socials--m.svg");
}
.header__socials-link--binance {
  background-image: url("img/icon-socials--binance.svg");
}
.header__btn-open {
  display: none;
  width: 120px;
  height: 120px;
  background-image: url("img/menu-open.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
}
.header__btn-close {
  display: none;
  width: 120px;
  height: 120px;
  background-image: url("img/menu-close.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
}
.header__nav {
  background-color: #131313;
  height: 80px;
  display: flex;
  justify-content: center;
}
.header__links {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 855px;
  width: 100%;
  padding-left: 0;
  z-index: 99999;
}
.header__links--mobile {
  display: none;
}
.header__link {
  color: #FFFFFF;
  text-decoration: none;
  transition: all 0.3s ease;
}
@media (hover: hover) and (pointer: fine) {
  .header__link:hover {
    color: #E3000B;
  }
}
.header__link:active {
  color: #E3000B;
}

@media screen and (max-width: 480px) {
  .header__btn.btn {
    display: none;
  }
  .header__btn-open {
    display: block;
    border: none;
  }
  .header__btn-close {
    display: block;
    border: none;
  }
  .header__links {
    position: absolute;
    top: 0;
    left: 0;
    flex-direction: column;
    align-items: center;
    min-width: 1440px;
  }
  .header__links-item {
    background-color: #C8102E;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header__links--mobile {
    display: none;
    position: absolute;
    top: 190px;
    left: 0;
    margin: 0;
  }
  .opened .header__links--mobile {
    display: flex;
  }
  .header__link {
    height: 300px;
    font-size: 74px;
    width: 1440px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 4px solid #A3A7AC;
  }
  .header__nav {
    display: none;
  }
}
.main {
  position: relative;
  min-width: 1440px;
  overflow-x: hidden;
}
.main.dark::before {
  content: "";
  width: 1440px;
  height: 1000vh;
  top: 0;
  left: 0;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.hero {
  background-color: #EBFBFF;
  background-image: url("img/bg-hero.svg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 40px;
}
.hero__inner {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero__h1 {
  font-family: "Phonk Contrast", "Arial", sans-serif;
  font-size: 68px;
  line-height: 88px;
  margin: 0;
  margin-bottom: 70px;
}
.hero__img {
  width: 100%;
  max-width: 656px;
}

.btn {
  position: relative;
  width: 100%;
  max-width: 261px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 24px;
  color: #000000;
  text-decoration: none;
  z-index: 999;
}
.btn::after {
  position: absolute;
  content: "";
  background-image: url("img/btn-front.svg");
  background-repeat: no-repeat;
  top: 0px;
  left: 0px;
  width: 100%;
  max-width: 261px;
  height: 100px;
  z-index: -1;
}
.btn::before {
  position: absolute;
  content: "";
  background-image: url("img/btn-back.svg");
  background-repeat: no-repeat;
  top: 10px;
  left: 10px;
  width: 100%;
  max-width: 261px;
  height: 100px;
  z-index: -1;
  transition: all 0.3s ease;
}
@media (hover: hover) and (pointer: fine) {
  .btn:hover {
    transition: all 0.3s ease;
  }
}
@media (hover: hover) and (pointer: fine) {
  .btn:hover::before {
    top: 0px;
    left: 0px;
  }
}
.btn:active {
  transition: all 0.3s ease;
}
.btn:not(:hover) {
  transition: all 0.3s ease;
}

.about {
  padding-top: 20px;
  background-color: #009995;
}
.about__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about__h2 {
  font-size: 52px;
  color: #FFFFFF;
  font-family: "Phonk Contrast", "Arial", sans-serif;
  text-align: center;
  margin-bottom: 30px;
}
.about__p {
  font-size: 27px;
  line-height: 1.25;
  font-family: "Lato", "Arial", sans-serif;
  max-width: 1360px;
  color: #FFFFFF;
  text-align: center;
  margin-top: 0;
  margin-bottom: 45px;
}
.about__img {
  width: 100%;
}

.toke {
  background-color: #2A2929;
  padding: 50px 0;
}
.toke__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.toke__h2 {
  font-family: "Phonk Contrast", "Arial", sans-serif;
  font-size: 56px;
  color: #FFFFFF;
  text-align: center;
  margin: 0;
}
.toke__h3 {
  color: #FFFFFF;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 30px;
  text-align: center;
  background-color: #009995;
  margin: auto;
  padding: 18px 19px;
  display: inline-block;
  margin-top: 40px;
}
.toke__img {
  margin-top: 70px;
  width: 100%;
  max-width: 1018px;
}

.faq {
  position: relative;
  padding-bottom: 50px;
}
.faq::before, .faq::after {
  content: "";
  position: absolute;
  top: -18px;
  background-image: url("img/bg-bricks.png");
  background-repeat: no-repeat;
  background-size: 307px 159px;
  width: 307px;
  height: 159px;
}
.faq::after {
  right: 0;
  transform: scaleX(-1);
}
.faq::before {
  left: 0;
}
.faq__h2 {
  font-family: "Phonk Contrast", "Arial", sans-serif;
  font-size: 56px;
  color: #000000;
  text-align: center;
  margin-top: 18px;
  margin-bottom: 95px;
}
.faq__list {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.faq__item {
  position: relative;
  margin-left: 86px;
  padding-top: 10px;
  padding-left: 46px;
  padding-bottom: 10px;
  max-width: 960px;
  width: 100%;
  height: 80px;
  background-color: #EBFBFF;
  border: 3px solid #000000;
  box-sizing: border-box;
}
.faq__item::before {
  content: "1";
  font-size: 55px;
  font-family: "Phonk Contrast", "Arial", sans-serif;
  color: #FFFFFF;
  position: absolute;
  top: -3px;
  left: -88px;
  width: 86px;
  height: 80px;
  padding-top: 5px;
  background-color: #FAC800;
  text-align: center;
  box-sizing: border-box;
  height: 80px;
}
.faq__item:nth-of-type(2):before {
  content: "2";
  background-color: #C40200;
}
.faq__item:nth-of-type(3):before {
  content: "3";
  background-color: #009995;
}
.faq__item:nth-of-type(4):before {
  content: "4";
  background-color: #94CB00;
}
.faq__unit-wrapper {
  margin: 0;
}
.faq__unit {
  margin-left: 0;
  font-size: 24px;
}

.road {
  background-color: #D42613;
  background-image: url("img/bg-blocks--red.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px 0;
}
.road__h2 {
  text-align: center;
  font-family: "Phonk Contrast", "Arial", sans-serif;
  font-size: 52px;
  color: #FFFFFF;
  margin: 0;
  margin-bottom: 45px;
}
.road__content-wrapper {
  display: flex;
  justify-content: center;
}
.road__list {
  list-style-type: none;
  color: #000000;
  margin: 0;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 35px;
}
.road__item {
  background-image: url("img/button-block--long.svg");
  background-repeat: no-repeat;
  background-size: 659px 92px;
  width: 659px;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
}
.road__p {
  margin: 0;
}

.bold {
  font-weight: 900;
}
/*# sourceMappingURL=style.css.map */
